@import "options";

// -- Custom Fonts --



@mixin fontScaffold($path, $family, $suffix: '', $weight: 400, $italic: false, $svg: '') {
  @font-face {
    font-family: $family;
    @if $svg == '' {
      src: url('#{$path}#{$suffix}.otf') format('opentype'), url('#{$path}#{$suffix}.ttf') format('truetype'), url('#{$path}#{$suffix}.woff2') format('woff2'), url('#{$path}#{$suffix}.woff') format('woff');
    } @else {
      src: url('#{$path}#{$suffix}.eot');
      src: url('#{$path}#{$suffix}.ttf') format('truetype'), url('#{$path}#{$suffix}.eot?#iefix') format('embedded-opentype'), url('#{$path}#{$suffix}.woff2') format('woff2'), url('#{$path}#{$suffix}.woff') format('woff'), url('#{$path}#{$suffix}.svg##{$svg}') format('svg'), url('#{$path}#{$suffix}.otf') format('opentype');
    }
    font-weight: $weight;
    @if $italic {
      font-style:italic;
    }
  }
}
// Font additions for Primary
@if ($customFonts) {
  @each $w, $n in $font-Primary-Weights {
    @include fontScaffold('#{$font-Dir}/#{$font-Primary}/#{$font-Primary}', $font-Primary, $w, $n);
  }
  @each $w, $n in $font-Primary-Italics {
    @include fontScaffold('#{$font-Dir}/#{$font-Primary}/#{$font-Primary}', $font-Primary, $w, $n,true);
  }
  // Font additions for Secondary //
  @each $w, $n in $font-Secondary-Weights {
    @include fontScaffold('#{$font-Dir}/#{$font-Secondary}/#{$font-Secondary}', $font-Secondary, $w, $n);
  }
  @each $w, $n in $font-Secondary-Italics {
    @include fontScaffold('#{$font-Dir}/#{$font-Secondary}/#{$font-Secondary}', $font-Secondary, $w, $n,true);
  }
  // Font additions for Tertiary //
  @each $w, $n in $font-Tertiary-Weights {
    @include fontScaffold('#{$font-Dir}/#{$font-Tertiary}/#{$font-Tertiary}', $font-Tertiary, $w, $n);
  }
  @each $w, $n in $font-Tertiary-Italics {
    @include fontScaffold('#{$font-Dir}/#{$font-Tertiary}/#{$font-Tertiary}', $font-Tertiary, $w, $n,true);
  }
}

$color-Primary-Dark: adjust-color($color-Primary, $saturation: -10%, $lightness: -25%);
$color-Secondary-Dark: adjust-color($color-Secondary, $saturation: -10%, $lightness: -25%);
$color-Tertiary-Dark: adjust-color($color-Tertiary, $saturation: -10%, $lightness: -25%);

$color-Primary-Light: adjust-color($color-Primary, $saturation: -5%, $lightness: 20%);
$color-Secondary-Light: adjust-color($color-Secondary, $saturation: -5%, $lightness: 20%);
$color-Tertiary-Light: adjust-color($color-Tertiary, $saturation: -5%, $lightness: 20%);

@mixin buttonAlts($primary){
  background-image: linear-gradient(white, white), linear-gradient(10deg, $primary, rgba(255, 255, 255, 0) 70%);
	&:hover {
		background-color: $primary;
		box-shadow:1px -2px 8px -4px inset \$#{$primary}-Dark;
		color: \$#{$primary}-Dark;
	}
}
@mixin badgeAlts($badgecolor){
  $lighterbadge: adjust-color($badgecolor, $saturation: -10%, $lightness: 10%);
  background-color: $lighterbadge;

  background-image: linear-gradient(20deg, #fff 30%,   rgba(255, 255, 255, 0.7));
}

// Layout option execution //
@if ($topHorizontalNav == true) {
  nav {
    display:block;
    position:relative;
    top:0;
    left:0;
    padding:2rem;
    background-color:#ccc;
    background-size:100%;

    width:100%;
    max-width:100%;
    overflow:hidden;
    & ul {
      display:flex;
      flex-direction:row;
      @include navItemAlign;

      & li {
        display:block;
      }
    }
  }
  .hero--main {
    top:-8rem;

  }


  @if ($transparentNavBg == true) {
    nav {
      background-color:rgba(255, 255, 255, 0);
      & ul {
        & li {
          background-color:rgba(255, 255, 255, 0);
          & a {
            text-decoration:none;
            background-color:rgba(255, 255, 255, 0);
            color:#666;
            transition: all 0.6s ease;
            &:hover {
              background-color:white;
              background-image:linear-gradient(to bottom left, rgba(255, 255, 255, 0) 30%, white)
            }
          }
        }
      }
    }
  }
}

@mixin asideLayout {
  main {
    max-width: 40rem;
  }

}
@if ($layoutHasAside) {

}



@mixin CssReset(){
  /* -- CSS Reset Block -- */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  nav {
    margin: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }

  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }
    /* -- added -- */
    html,body{
    	overflow-x: hidden;
      max-width:100%;
    }
    html {
      box-sizing: border-box;
      -webkit-text-size-adjust:none;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    * {
      scroll-behavior:smooth;
    }

}
