/* -- CSS Reset Block -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -- added -- */
html, body {
  overflow-x: hidden;
  max-width: 100%; }

/* -- Set colors -- */
/*
	Teal :#3afbc5;
	Reddish: #fb4d3a;
*/
/* -- Framework -- */
/* -- Font additon -- */
@font-face {
  font-family: 'Mukta';
  src: url("fonts/Mukta/Mukta-Regular.ttf"); }
@font-face {
  font-family: 'Mukta';
  font-weight: bold;
  src: url("fonts/Mukta/Mukta-Bold.ttf"); }
@font-face {
  font-family: 'Mukta';
  src: url("fonts/Mukta/Mukta-Regular.ttf"); }
* {
  font-size: 13px; }

h1 {
  font-size: 30px;
  letter-spacing: 2.4px;
  font-weight: bold;
  margin-bottom: 1.6rem;
  line-height: 54px; }

h2 {
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 3.2px;
  margin-bottom: 1.2rem;
  margin-top: 0.8rem; }

h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
  line-height: 38px;
  margin-bottom: 0.8rem; }

h4 {
  font-size: 18px;
  color: #888;
  line-height: 28px;
  letter-spacing: 1.4px;
  padding-top: 1rem;
  padding-bottom: 1rem; }

ul > * {
  margin: 1rem auto 1.2rem;
  width: 90%; }

pre .codeblock {
  background-color: #777;
  background: linear-gradient(to bottom, #666, #777);
  display: block;
  border-radius: 16px;
  color: #fff;
  padding: 2rem; }

i {
  font-style: italic; }

.caption {
  color: #696969; }

code {
  font-family: monospace; }

p {
  margin-bottom: 0.6rem; }

nav ul {
  list-style-type: none; }

dd {
  margin: 1rem 1rem 1rem 2rem; }

nav ul li a {
  text-decoration: none; }

table {
  width: 80%; }

th {
  font-weight: bold; }

.container {
  margin: 0 auto;
  width: calc(100% - 4rem);
  padding: 2rem;
  position: relative;
  display: inline-block; }

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center; }

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  /*   width: 100%;  ?? */ }

.row--row {
  flex-direction: row;
  flex-wrap: nowrap; }

.row--padded {
  padding: 2rem; }

.column--centered {
  align-items: center;
  justify-content: center;
  text-align: center; }

p, dd {
  line-height: 1.6rem;
  letter-spacing: 0.4px; }

input {
  padding: 0.5rem; }

.row .column .column-center {
  -ms-grid-row-align: center;
  align-self: center; }

.row .column.column-offset-10 {
  margin-left: 10%; }

.row .column.column-offset-20 {
  margin-left: 20%; }

.row .column.column-offset-25 {
  margin-left: 25%; }

.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%; }

.row .column.column-offset-50 {
  margin-left: 50%; }

.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%; }

.row .column.column-offset-75 {
  margin-left: 75%; }

.row .column.column-offset-80 {
  margin-left: 80%; }

.row .column.column-offset-90 {
  margin-left: 90%; }

.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%; }

.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%; }

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%; }

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }

.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%; }

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%; }

.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%; }

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%; }

.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%; }

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%; }

.row .column .column-top {
  align-self: flex-start; }

.row .column .column-bottom {
  align-self: flex-end; }

.row .column .column-center {
  -ms-grid-row-align: center;
  align-self: center; }

hr {
  width: 80%;
  border-top: 1px solid #444;
  border-bottom: none;
  margin: 1.5rem auto; }

u {
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid #aaa; }

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  appearance: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1rem solid #3afbc5;
  border-radius: 12px;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%; }

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: white;
  outline: 0; }

select {
  padding-right: 3.0rem; }

textarea {
  min-height: 6.5rem; }

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem; }

fieldset {
  border-width: 0;
  padding: 0; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem; }

@media (min-width: 40rem) {
  .row {
    flex-direction: row; }

  .row .column {
    margin-bottom: inherit; } }

/*# sourceMappingURL=WIPFramework.css.map */
